<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}1!
  </h1>
  
<app-component1></app-component1>
<h1>
  Welcome to {{ title }}2!
</h1>
<app-component2></app-component2>
<h1>
  Welcome to {{ title }}3!
</h1>
<app-component3></app-component3>
<h1>
  Welcome to {{ title }}4!
</h1>
<app-component5></app-component5>
<h1>
  Welcome to {{ title }}5!
</h1>
<app-component7></app-component7>
<h1>
  Welcome to {{ title }}6!
</h1>
<app-component10></app-component10>
<router-outlet></router-outlet>
